<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">UserManager</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link button" [ngClass]="{'active': abaAtiva('/user-list')}" href="/user-list">Lista de Usuários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link button" [ngClass]="{'active': abaAtiva('/user-form')}" href="/user-form">Novo Usuário</a>
    </li>
  </ul>

  <div class="col">
    <a class="swagger_img" href="http://localhost:8080/swagger-ui/index.html" target="_blank">
      <img width="100" class="img-responsive float-end" src="assets/swagger.png">
    </a>
  </div>
</nav>

<br>

<div class="container">

  <router-outlet></router-outlet>

</div>