
<div *ngIf="msg != null" class="alert alert-success" role="alert">
    Usuário Salvo Com sucesso.
</div>

<div class="row">
    <h2>Users List:</h2>
</div>

<div class="row">
    <div class="b-1">
        <button type="button" class="btn btn-outline-primary float-end" (click)="getUserForm()"> Novo Usuário </button>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row">{{ getCutId(user.id) }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="#">Edit</a> / <a href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>